@font-face {
    font-family: 'ostrich_sansblack';
    src: url('../fonts/ostrichsans-black-webfont.woff2') format('woff2'),
    url('../fonts/ostrichsans-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?qo8oip');
    src:  url('../fonts/icomoon.eot?qo8oip#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?qo8oip') format('truetype'),
    url('../fonts/icomoon.woff?qo8oip') format('woff'),
    url('../fonts/icomoon.svg?qo8oip#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cart:before {
    content: "\e93a";
}
.icon-search:before {
    content: "\e986";
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.clearfix:after {
    content: "";
    display: block;
    clear: both;
}
.container {
    max-width: 966px;
    margin: 0 auto;
}
header {
    background: #e5e7e6;
}
.top-menu {
    background: #fff;
    padding:4px 0 6px;
}
.lang-field {
    color:#d0002f;
    font-weight: bold;
    font-size: 10px;
    float: left;
    margin-left: 7px;
}
.lang-field p {
    display: inline-block;
}
.lang-field span {
    color: #2a2a2a;
}
.lang-img img {
    margin: 0 7px;
}
.lang-img {
    vertical-align: middle;
    display: inline-block;
}
.float-box {
    text-align: right;
}
.float-box p {
    font-size: 10px;
    margin: 0 11px;
    display: inline-block;
    vertical-align: middle;
}
.float-box span {
    color: #333639;
    font-size: 13px;
    margin:0 11px;
    vertical-align: middle;
}
.login, .cart {
    display: inline-block;
    font-size: 10px;
    line-height: 8px;
    text-decoration: none;
    color: #ffffff;
    margin: 0 11px;
    vertical-align: middle;
}
.login {
    background: #d0002f;
    padding: 5px 20px;
    border-radius: 10px;
}
.cart {
    background: #333639;
    padding: 6px 12px;
    border-radius: 10px;
}
.logo {
    float: left;
    margin: 36px 0 21px 40px;
}
.search-form {
    float: right;
    margin: 52px 2px 0 0;
}
.search-button {
    background: #333639;
    border: none;
    color: #6e7072;
    width: 30px;
    height: 26px;
    padding-left: 10px;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
}
.search-field {
    height:26px;
    background: #333639;
    border: none;
    border-radius: 0 15px 15px 0;
    margin-left: -4px;
}
nav {
    background: linear-gradient(to top, #000, #2c2c2c);
}
.nav li {
    float:left;
    list-style: none;
}
.nav li:hover>a {
    background: rgba(0,0,0,0.85);;
}
.nav a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 16px 20px 16px 21px;
    letter-spacing: 1.8px;
    font-size: 14.1px;
    background: transparent;
    font-family: 'ostrich_sansblack';
}
li.dropdown {
    position: relative;
}
li.dropdown ul {
    position: absolute;
    top:100%;
    left:0;
    display: none;
    width: 113px;
    background: rgba(0,0,0,0.85);
    padding: 6px 7px 6px;
    z-index: 10;
}
li.dropdown ul li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #515055;
}
li.dropdown ul li a {
    font-size: 12px;
    padding: 9px 8px;
    background: rgba(49,52,57,0.85);
}
li.dropdown:hover ul {
    display: block;
}
li.dropdown ul li:hover li.dropdown ul li a {
    background: rgba(0,0,0,0.85);
}
section {
    background: #d0002f;
}
.item img {
    max-width: 100%;
    display: block;
}
.item {
    position: relative;
}
.section-content {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 400px;
    background: rgba(208,0,47,0.8);
    padding: 52px 66px 82px 28px;
}
h1 {
    font-size: 45px;
    line-height: 48px;
    color: #fff;
    font-family: 'ostrich_sansblack';
    margin-bottom: 24px;
}
.section-content p {
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    margin-bottom: 60px;
}
.section-content a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    background: linear-gradient(to top,#434b53,#e5e7e6);
    border-radius: 20px;
    padding: 7px 15px;
}
